

body {
  margin: 10px 10px;
  font-family: sans-serif;
  text-align: center;
  background-color: var(--night-forest);
  color: var(--pale-sage);
}                  

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}                  
main {
  min-height: 60vh;
  flex-grow: 5;
  margin-bottom: 10px;
  border: 2px solid teal;
  background-color: sandybrown;

}


footer, header {
  background-color: var(--sage);
  flex-grow: 1;
  margin-bottom: 10px;
  border: 2px solid teal;
  background-color: seagreen;
  } 
                    
  @media (min-width: 600px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    header {
      width: 100%;
    }
    main, footer, header {
      margin: 1em;
    }
  }